@model Student_Result_Management.Models.Y2024

@{
    ViewData["Title"] = "AddNew_Result";
}

<h1>AddNew_Result</h1>

<h4>Y2024</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNew_Result">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RollNo" class="control-label"></label>
                <input asp-for="RollNo" class="form-control" />
                <span asp-validation-for="RollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassedYear" class="control-label"></label>
                <input asp-for="PassedYear" class="form-control" />
                <span asp-validation-for="PassedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hindi" class="control-label"></label>
                <input asp-for="Hindi" class="form-control" />
                <span asp-validation-for="Hindi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="English" class="control-label"></label>
                <input asp-for="English" class="form-control" />
                <span asp-validation-for="English" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physics" class="control-label"></label>
                <input asp-for="Physics" class="form-control" />
                <span asp-validation-for="Physics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemistry" class="control-label"></label>
                <input asp-for="Chemistry" class="form-control" />
                <span asp-validation-for="Chemistry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maths" class="control-label"></label>
                <input asp-for="Maths" class="form-control" />
                <span asp-validation-for="Maths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
